.template_sidebar_01 {
  display: flex;
  font-family: Georgia, serif;
  font-size: 11px;
}

.template_sidebar_01 .sidebar {
  width: 32%;
  background: #f2f2f2;
  padding: 16px;
}

.template_sidebar_01 .content {
  width: 68%;
  padding-left: 20px;
}
