.template_sidebar_02 {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

.template_sidebar_02 .sidebar {
  width: 30%;
  background: #e9eef3;
  padding: 16px;
}

.template_sidebar_02 .content {
  width: 70%;
  padding-left: 20px;
}
